html {
  --col-bg-v: 23 23 23;
  --col-bg: rgb(var(--col-bg-v));
  --col-white: #e2e2e2;
  /* #54b3d6 ? */
  --col-accent-v: 108 172 245;
  --col-accent: rgb(var(--col-accent-v));
  --bk-large: 1024px;
  --anim-len: 150ms;

  background-color: var(--col-bg);
  color: var(--col-white);
  accent-color: var(--col-accent);
  line-height: 1.2;
  font-size: 18px;
}

::selection {
  background-color: rgba(var(--col-accent-v) / 60%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: var(--col-white);
  text-decoration: none;
  transition: all var(--anim-len) ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.activable {
  position: relative;
  cursor: pointer;
  color: var(--col-accent) !important;

  &:after {
    content: '';
    background: var(--col-accent);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: width var(--anim-len) ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

.mode-hidden {
  display: none;
}

.app-main {
}

.app-header {
  margin-top: 1em;
  text-align: center;

  & > h1 {
    display: inline-block;
    margin-right: 0.5em;
  }
}

.gh-link {
  &:hover {
    color: var(--col-accent) !important;
  }

  svg {
  }
}

.app-container {
  max-width: var(--bk-large);
  margin: 0 auto;
  line-height: 1.5;
  padding: 1em 0 2em;
}

.app-intro {
  margin-bottom: 2em;

  p {
    margin-bottom: 1em;
  }

  a {
    /* box-shadow: inset 0 -5px 0 var(--col-accent); */
  }
}

#test-infere-btn {
  display: none;
}

#text-status {
  text-align: center;
}

#img-reset {
  margin: 0.5em 0;
}

#viewport {
  max-width: 100%;
}

/* IMAGE SELECTOR - CONTAINER */
#img-selector {
  text-align: center;

  h2 {
    text-align: initial;
    margin-bottom: 1em;
  }
}

/* IMAGE SELECTOR - USE TEST IMAGE */
#use-test-image-btn {
  background: transparent;
  outline: none;
  border: none;
}

/* IMAGE SELECTOR - DROPZONE */
#img-dropzone {
  position: relative;
  display: inline-block;
  margin: 0 auto 0.5em;
  border-radius: 5px;
  overflow: hidden;

  &:hover,
  &.drop {
    background-color: rgb(var(--col-accent-v) / 0.4);
  }

  label {
    display: block;
    border: 2px solid var(--col-accent);
    border-radius: 5px;
    text-align: center;
    padding: 0.8em 1.5em;
    cursor: pointer;
  }

  svg {
    margin-right: 10px;
  }
}

#img-dropzone [type='file'] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0;
}
